<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AcademicOrbit</display-name>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajouter</display-name>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>controller.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/Ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supprimer</display-name>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>controller.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/Supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifier</display-name>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>controller.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/Modifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfEmplois</display-name>
    <servlet-name>ProfEmplois</servlet-name>
    <servlet-class>controller.profservlets.ProfEmplois</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfEmplois</servlet-name>
    <url-pattern>/ProfEmplois</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerAdmin</display-name>
    <servlet-name>SupprimerAdmin</servlet-name>
    <servlet-class>controller.SupprimerAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerAdmin</servlet-name>
    <url-pattern>/SupprimerAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterAdmin</display-name>
    <servlet-name>AjouterAdmin</servlet-name>
    <servlet-class>controller.AjouterAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAdmin</servlet-name>
    <url-pattern>/AjouterAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierEtudiant</display-name>
    <servlet-name>ModifierEtudiant</servlet-name>
    <servlet-class>controller.ModifierEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierEtudiant</servlet-name>
    <url-pattern>/ModifierEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterEtudiant</display-name>
    <servlet-name>AjouterEtudiant</servlet-name>
    <servlet-class>controller.AjouterEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterEtudiant</servlet-name>
    <url-pattern>/AjouterEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerEtudiant</display-name>
    <servlet-name>SupprimerEtudiant</servlet-name>
    <servlet-class>controller.SupprimerEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerEtudiant</servlet-name>
    <url-pattern>/SupprimerEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffecterClasse</display-name>
    <servlet-name>AffecterClasse</servlet-name>
    <servlet-class>controller.AffecterClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffecterClasse</servlet-name>
    <url-pattern>/AffecterClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterClasse</display-name>
    <servlet-name>AjouterClasse</servlet-name>
    <servlet-class>controller.AjouterClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterClasse</servlet-name>
    <url-pattern>/AjouterClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierClasse</display-name>
    <servlet-name>ModifierClasse</servlet-name>
    <servlet-class>controller.ModifierClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierClasse</servlet-name>
    <url-pattern>/ModifierClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminController</display-name>
    <servlet-name>UpdateAdminController</servlet-name>
    <servlet-class>controller.UpdateAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminController</servlet-name>
    <url-pattern>/UpdateAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerClasse</display-name>
    <servlet-name>SupprimerClasse</servlet-name>
    <servlet-class>controller.SupprimerClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerClasse</servlet-name>
    <url-pattern>/SupprimerClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeEtudiantClasse</display-name>
    <servlet-name>ListeEtudiantClasse</servlet-name>
    <servlet-class>controller.ListeEtudiantClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeEtudiantClasse</servlet-name>
    <url-pattern>/ListeEtudiantClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerModule</display-name>
    <servlet-name>SupprimerModule</servlet-name>
    <servlet-class>controller.SupprimerModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerModule</servlet-name>
    <url-pattern>/SupprimerModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterModule</display-name>
    <servlet-name>AjouterModule</servlet-name>
    <servlet-class>controller.AjouterModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterModule</servlet-name>
    <url-pattern>/AjouterModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffecterNoteServlet</display-name>
    <servlet-name>AffecterNoteServlet</servlet-name>
    <servlet-class>controller.AffecterNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffecterNoteServlet</servlet-name>
    <url-pattern>/AffecterNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnregistrerNotesServlet</display-name>
    <servlet-name>EnregistrerNotesServlet</servlet-name>
    <servlet-class>controller.EnregistrerNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnregistrerNotesServlet</servlet-name>
    <url-pattern>/EnregistrerNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfController</display-name>
    <servlet-name>UpdateProfController</servlet-name>
    <servlet-class>controller.UpdateProfController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfController</servlet-name>
    <url-pattern>/UpdateProfController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEtudiantController</display-name>
    <servlet-name>UpdateEtudiantController</servlet-name>
    <servlet-class>controller.UpdateEtudiantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEtudiantController</servlet-name>
    <url-pattern>/UpdateEtudiantController</url-pattern>
  </servlet-mapping>
</web-app>